# do not create a queue: section for your test environment

production:
  adapter: postgresql
  encoding: utf8
  database: canvas_production
  host: localhost
  username: canvas
  password: lswebcat6000
  timeout: 5000
