

production:
  domain: "canvas.lusd1.org"
  # whether this instance of canvas is served over ssl (https) or not
  # defaults to true for production, false for test/development
  ssl: true
  files_domain: "canvasfiles.lusd1.org"
